# Week 6 Lab: Geotags

Data Analytics at Scale 2018

In [2]:
import pandas as pd
import numpy as np
import math

import gzip
import json
import glob

import pickle

import geopy.distance

import multiprocessing

# Background

The purpose of this lab is to count the number of geotagged tweets in each city in a sample from Twitter.

There are multiple ways a user can include location information in a Twitter profile or tweet. These are described in the documentation (https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/geo-objects), and there is some analysis in this (slighly dated) paper:
> Graham, M., Hale, S. A., and Gaffney, D. (2014). Where in the world are you? Geolocation and language identification in Twitter. Professional Geographer. doi:10.1080/00330124.2014.907699. Available at https://arxiv.org/pdf/1308.0683

For this lab, we will be focusing on the "coordinates" object. If present, this object represents an exact longitude, latitutde pair set by the device from which the user was tweeting (i.e., GPS on a smartphone). An example of the "coordinates" object is:
```
    "coordinates":
    {
        "coordinates":
        [
            -75.14310264,
            40.05701649
        ],
        "type":"Point"
    }
```

**Note** that users who geotag there tweets are special and not representative of the broader Twitter using population (which is turn is, of course, not representative of any national population). Brent Hecht (http://www.brenthecht.com/) has great research on this point.

# A note on runnig this notebook

I have prepared this lab as a Jupyter notebook. I may come to greatly regret that choice.

Most exercises are probably better run as standalone Python files on the server. If you run files as a standalone `.py` file on the server, be sure to include in the `gcdist` function as well as the code for `dfCities`.

Another option is to run this notebook directly on the server and load it in a local browser. To do this, please follow these instructions:
* ssh into the server and forward a remote port. For example, to forward port 1051, I can run: 

```
ssh -L 1051:localhost:1051 abcd1234@oii-lab-003.oii.ox.ac.uk
```

* On the server open `screen` and, if necessary, set the PATH variable:

```
screen
export PATH=/opt/anaconda3/bin:$PATH
```

* Start JupyterLab on the server with the specific port you forwarded. For example,

```
jupyter-lab --port 1051
```

* A URL will appear in the terminal. Copy and paste that URL into the browser on your local machine.

# Data

## Twitter

The data we are using comes from the `public/statues` streaming API on Twitter. This returns, "a small, random sample" of tweets. Earlier this was described as "approximately 1%" but that text was removed from the documentation a few years ago.

Only a small fraction of tweets are geotagged, and I hvae filtered the sample to only include tweets with a "coordinates" object for the purposes of this course.

The data is stored on `oii-lab-003.oii.ox.ac.uk` in the `/data/twitter-geo/` directory. 

If you download the data (or a subset of it) to your local machine, please abide by Twitter's Terms of Service and general ethical principles do not attribute quotations to named individuals, etc. If you have any questions, please ask.

## Cities

The latitude and longitude of cities comes from GeoNames, a geographical database that "covers all countries and contains over eleven million placenames." We are using the cities1000.zip data from http://download.geonames.org/export/dump/ . This file includes "all cities with a population > 1000 or seats of adm div to PPLA3 (ca 130.000)"

In [3]:
#This is the full dataset from Geonames
#dfCities=pd.read_csv("/data/cities1000.txt",sep="\t",header=None,names=["geonameid","name","asciiname","alternatenames","latitude","longitude","feature class","feature code","country code","cc2","admin1 code","admin2 code","admin3 code","admin4 code","population","elevation","dem","timezone","modification date"])

#We only need a few select columns:
dfCities=pd.read_csv("/data/cities1000.txt",sep="\t",header=None,usecols=[0,1,4,5,8],names=["geonameid","name","latitude","longitude","country"])

dfCities["rlat"]=np.radians(dfCities.latitude)
dfCities["rlng"]=np.radians(dfCities.longitude)
display(dfCities.head())
print(dfCities.shape)

TEST_LAT=51.756594
TEST_LNG=-1.260865

,geonameid,name,latitude,longitude,country,rlat,rlng
0,3039154,El Tarter,42.57952,1.65362,AD,0.743153,0.028861
1,3039163,Sant Julià de Lòria,42.46372,1.49129,AD,0.741132,0.026028
2,3039604,Pas de la Casa,42.54277,1.73361,AD,0.742511,0.030257
3,3039678,Ordino,42.55623,1.53319,AD,0.742746,0.026759
4,3040051,les Escaldes,42.50729,1.53414,AD,0.741892,0.026776

(132445, 7)

# Task

The purpose of this assignment is to count the number of geotagged tweets occuring within 25km of any of any city in our list.

The lab exercises will ask you to do this in serial (single-threaded), with multiprocessing, and in a distributed environment with PySpark.

Optionally, you can write Hadoop, Dask, mpi4py or other distributed approaches.

In [4]:
#In order to do this somewhat efficiently, we will define our own numpy version to calculate one to many distances using great circle distance

import numba as nb

#Great circle distance
# https://www.movable-type.co.uk/scripts/latlong.html
# https://stackoverflow.com/a/19412565

@nb.jit(nopython=True,parallel=True)
def gcdist(dfCities,lat,lng):
    R = 6371.0087714 # approximate radius of earth in km
    rlat=math.radians(lat)
    rlng=math.radians(lng)
    
    dlng=dfCities.rlng-rlng
    dlat=dfCities.rlat-rlat

    a = np.sin(dlat / 2)**2 + np.cos(dfCities.rlat) * np.cos(rlat) * np.sin(dlng / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distances = R * c
    return distances

myresults=gcdist(dfCities,TEST_LAT,TEST_LNG)

#Geodesic distance (this is more accurate, but probably unneeded for our purposes)
def geopydist(dfCities,lat,lng):
    distances=[]
    for index, row in dfCities.iterrows():
        distances.append(geopy.distance.great_circle([row.latitude,row.longitude],[lat,lng]).km)
    return distances

geopy_results=pd.Series(geopydist(dfCities,TEST_LAT,TEST_LNG))

#print(myresults.head())
#print(geopy_results.head())

#myindex=myresults.idxmin()
#gpyindex=geopy_results.idxmin()

#print(myindex,gpyindex)
#print(myresults[myindex]-geopy_results[gpyindex])

In [4]:
#print(abs(myresults-geopy_results).describe())
assert np.all(abs(myresults-geopy_results)<1), "myresults geopy differ"
print("Great. Our function matches the output of geopy")

Great. Our function matches the output of geopy

In [6]:
def degree_dist(dfCities,lat,lng):
    return ((dfCities.latitude-lat)**2+(dfCities.longitude-lng)**2)**0.5

In [15]:
#Optional
%timeit geopydist(dfCities,52.406374,16.9251681)
%timeit gcdist(dfCities,52.406374,16.9251681)
%timeit degree_dist(dfCities,52.406374,16.9251681)

11.6 s ± 367 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
14.8 ms ± 967 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
5.1 ms ± 95 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# Exercise: Paris

First, let's just make sure we can get to the data, and things are working as expected.

We will count the number of tweets that are closer to Paris than any other city and are within 25km of Paris (48.8567, 2.3508). More formally, we only want to count a tweet when the index of the smallest distance (`idxmin`) is equal to the index of Paris in dfCities and that distance is strictly less than 25. 

Your function, `tweets_in_paris` should accept one argument a gzip file of tweets and return an integer corresponding to the number of tweets.

In [5]:
#This is the index of Paris in our dfCities dataframe. We only want to count tweets are closest to this city (and strictly less than 25km).
PARIS=dfCities[(dfCities.name=="Paris") & (dfCities.country=="FR")].index[0]
dfCities[(dfCities.name=="Paris") & (dfCities.country=="FR")]

       geonameid   name  latitude  longitude country      rlat      rlng
37679    2988507  Paris  48.85341     2.3488      FR  0.852653  0.040994

In [10]:

def tweets_in_paris(file):
    count=0
    with gzip.open(file,"rt") as fh:
        for line in fh:
            tweet=json.loads(line)
            if "coordinates" in tweet and tweet["coordinates"]!=None:
                loc=tweet["coordinates"]["coordinates"]
                dists=gcdist(dfCities,loc[1],loc[0])
                closest=dists.idxmin()
                if closest==PARIS and dists[closest]<25:
                    count+=1
    return count

In [11]:
#A faster way with some prep

#Just fine the cities wtihin 25km of Paris
dfCities_subset=dfCities[gcdist(dfCities,48.85341,2.3488)<25]
#display(dfCities_subset)

def tweets_in_paris2(file):
    count=0
    with gzip.open(file,"rt") as fh:
        for line in fh:
            tweet=json.loads(line)
            if "coordinates" in tweet and tweet["coordinates"]!=None:
                loc=tweet["coordinates"]["coordinates"]
                dists=gcdist(dfCities_subset,loc[1],loc[0])
                closest=dists.idxmin()
                if closest==PARIS  and dists[closest]<25:
                    count+=1
    return count

In [12]:
#Let's run and check our code.

paris_tweets=0
for file in glob.glob("/data/twitter-geo/2016-01-01.csv.gz"):
    paris_tweets+=tweets_in_paris2(file)
print(paris_tweets)

assert paris_tweets==16, "Your count is different from my count"
print("Great work!")

16
Great work!

# Exercise: Single threaded

Let's get it right before we get it fast.

We can benchmark on a subset of the data; so, for this exercise, please only use the January 2016 data.

In [16]:
def tweets_per_city(file):
    counts=np.zeros(dfCities.shape[0])
    with gzip.open(file,"rt") as fh:
        for line in fh:
            tweet=json.loads(line)
            if "coordinates" in tweet and tweet["coordinates"]!=None:
                loc=tweet["coordinates"]["coordinates"]
                dists=gcdist(dfCities,loc[1],loc[0])
                closest=dists.idxmin()
                if dists[closest]<25:
                    counts[closest]+=1
    return counts

In [17]:
def tweets_per_city_single_thread(files):
    counts=np.zeros(dfCities.shape[0])
    for file in files:
        counts+=tweets_per_city(file)
    return counts

In [18]:
results_singlethreaded=tweets_per_city_single_thread(glob.glob("/data/twitter-geo/2016-01-01.csv.gz"))

print(results_singlethreaded[0:10])
print("A total of {} tweets were located to cities.".format(results_singlethreaded.sum()))
max_index=np.argmax(results_singlethreaded)
print("The city with the most tweets was {} with {} tweets.".format(dfCities.iloc[int(max_index)]["name"],results_singlethreaded[max_index]))

"""
Scott's output was:

[1. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
A total of 13214.0 tweets were located to cities.
The city with the most tweets was Jakarta with 220.0 tweets.

"""

[1. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
A total of 13214.0 tweets were located to cities.
The city with the most tweets was Jakarta with 220.0 tweets.

"\nScott's output was:\n\n[1. 0. 0. 0. 0. 1. 0. 0. 0. 0.]\nA total of 13214.0 tweets were located to cities.\nThe city with the most tweets was Jakarta with 220.0 tweets.\n\n"

In [19]:
#Let's check our results -- pickle file was created with pickle.dump(results_singlethreaded,open("check_2016-01-01.p","wb"))
check_results=pickle.load(open("check_2016-01-01.p","rb"))
assert np.all(abs(results_singlethreaded-check_results)<1), "Your single-threaded results do not match the expected results."
print("Great work!")

Great work!

# Exercise: Multiprocessing

Please write a function that uses multiple processes (one per file) to get the number of tweets per city

In [20]:
import multiprocessing

def tweets_per_city_multiprocess(files):
    #Start up a pool and run tweets_per_city for each file in the list files
    with multiprocessing.Pool() as pool:
        results=pool.map(tweets_per_city,glob.glob("/data/twitter-geo/2016-01-0*.csv.gz"),chunksize=1)

    counts=np.zeros(dfCities.shape[0])
    for r in results:
        counts+=r
    
    #Combine the results from the pool and return the combined results
    return counts

In [ ]:
multiprocess_results=tweets_per_city_multiprocess(glob.glob("/data/twitter-geo/2016-01-0*.csv.gz"))
print(multiprocess_results[0:10])

In [ ]:
#Let's check our results
check_results=pickle.load(open("check_2016-01-1x.p","rb"))
assert np.all(abs(multiprocess_results-check_results)<1), "Your multiprocessing results do not match the expected results."
print("Great work!")

# Exercise MapReduce

In [35]:
def map_func(rawtweet):
    #The input is a string representation of a tweet object.
    #Load it with json
    #Find the closest city
    #Return a (key,value) tuple. For example, (xxx,1) where xxx is a row number from dfCities
    tweet=json.loads(rawtweet)
    if "coordinates" in tweet and tweet["coordinates"]!=None:
        loc=tweet["coordinates"]["coordinates"]
        dists=gcdist(dfCities,loc[1],loc[0])
        closest=dists.idxmin()
        if dists[closest]<25:
            return (closest,1)

In [36]:
def reduce_func(key,values):
    #key is a row number from dfCities
    #values is a list of integers (a list of the values for key from map_func)
    #return a (key,value) tuple. The key should be the same as the input key, while the value should be the sum of all numbers in the input values
    return (key,sum(values))

In [37]:
#Check -- this is running locally in a single thread and not at all indicative of actual performance on Hadoop
# DO NOT CHANGE THIS CELL - the sort and intermediate values are being held in memory. Larger amounts of data may cause system instability.

from collections import defaultdict


map_out=defaultdict(list)

for file in glob.glob("/data/twitter-geo/2016-01-01.csv.gz"): # DO NOT TRY MORE THAN ONE MONTH
    with gzip.open(file,"rt") as fh:
        for line in fh:
            tmp=map_func(line)
            if tmp!=None:
                map_out[tmp[0]].append(tmp[1])

final_out={}
for key,vals in map_out.items():
    k,v=reduce_func(key,vals)
    final_out[k]=v
map_out=None

In [38]:
PARIS=dfCities[(dfCities.name=="Paris") & (dfCities.country=="FR")].index[0]
print(final_out[PARIS]) #Expected output for 2016-01-01.csv.gz is 16

LONDON=dfCities[(dfCities.name=="London") & (dfCities.country=="GB")].index[0]
print(final_out[LONDON]) #Expected output for 2016-01-01.csv.gz is 26

OXFORD=dfCities[(dfCities.name=="Oxford") & (dfCities.country=="GB")].index[0]
print(final_out[OXFORD]) #Expected output for 2016-01-01.csv.gz is 2

16
26
2

# Exercise PySpark

Please count the number of tweets within 25km of each city using PySpark.

In [22]:
import pyspark
from pyspark.sql import SQLContext

#Create a spark context
sc = pyspark.SparkContext('local[*]')

#Create a SQLContext to be able to read JSON easily
sqlContext = SQLContext(sc)
df = sqlContext.read.json("/data/twitter-geo/2016-01-01.csv.gz").select("coordinates")

In [27]:
def cord2city(coord):
    loc=coord["coordinates"]["coordinates"]
    dists=gcdist(dfCities,loc[1],loc[0])
    closest=dists.idxmin()
    if dists[closest]<25:
        return closest

In [31]:
#df is a spark dataframe
#you can get the rdd with df.rdd

#apply map and reduce operations to get counts of tweets by city. 

#you can use .take(5) to get the first five results
#use .collect() to get all results


#One option using what we saw in class:
spark_results=df.rdd.map(cord2city).groupBy(lambda x: x).map(lambda x: (x[0],len(x[1]))).collect()
spark_results[0:10]

[(111284, 4),
 (52726, 15),
 (53239, 1),
 (81792, 56),
 (91269, 6),
 (91207, 2),
 (52617, 220),
 (113774, 7),
 (45043, 26),
 (8192, 21)]

In [30]:
#Another option
spark_results=df.rdd.map(cord2city).countByValue()
spark_results

defaultdict(int,
            {111284: 4,
             52726: 15,
             53239: 1,
             81792: 56,
             91269: 6,
             91207: 2,
             52617: 220,
             113774: 7,
             45043: 26,
             8192: 21,
             112752: 7,
             109151: 3,
             124335: 29,
             52799: 2,
             48517: 1,
             52894: 1,
             126370: 1,
             70242: 1,
             110047: 4,
             52614: 8,
             110089: 1,
             122870: 8,
             111833: 1,
             52440: 3,
             51927: 18,
             69222: 5,
             9463: 3,
             8574: 2,
             111608: 3,
             110837: 19,
             46390: 1,
             51827: 45,
             131988: 1,
             89326: 16,
             28814: 2,
             51933: 14,
             70233: 11,
             53548: 1,
             51727: 31,
             52834: 48,
             123683: 1,
             106139: 1,
             111298: 14,
             68448: 101,
             68910: 1,
             95882: 1,
             46557: 2,
             52727: 12,
             81733: 19,
             17210: 1,
             61948: 5,
             33763: 1,
             72399: 1,
             9253: 7,
             8095: 1,
             88473: 1,
             110938: 8,
             111301: 2,
             108577: 4,
             110932: 49,
             52995: 20,
             115736: 1,
             132031: 2,
             111403: 12,
             9380: 1,
             91081: 1,
             15: 17,
             70248: 14,
             110949: 11,
             110177: 28,
             None: 255,
             68544: 1,
             107191: 60,
             68723: 9,
             114604: 1,
             126395: 6,
             68632: 13,
             68411: 10,
             52993: 33,
             130865: 15,
             118245: 1,
             90314: 1,
             112032: 1,
             114890: 18,
             90708: 6,
             112260: 1,
             101728: 2,
             110367: 2,
             108815: 1,
             81793: 143,
             111530: 21,
             82841: 7,
             109223: 8,
             89180: 6,
             81829: 2,
             113771: 4,
             7586: 1,
             62858: 1,
             110767: 2,
             16625: 1,
             102542: 2,
             1137: 1,
             52694: 32,
             102956: 1,
             52881: 88,
             63264: 4,
             9584: 17,
             52387: 26,
             108972: 21,
             5068: 1,
             52943: 8,
             111628: 1,
             68691: 54,
             118387: 2,
             91456: 1,
             68572: 21,
             108457: 2,
             89665: 3,
             132267: 2,
             120499: 1,
             52693: 21,
             116453: 1,
             9146: 1,
             107804: 1,
             32091: 1,
             114356: 4,
             88675: 18,
             52227: 2,
             69376: 3,
             88603: 4,
             68736: 22,
             8925: 2,
             82688: 1,
             51994: 7,
             19630: 1,
             111540: 6,
             29860: 1,
             114099: 26,
             124563: 2,
             118863: 4,
             52641: 5,
             60910: 18,
             111421: 1,
             53065: 8,
             110633: 20,
             108927: 3,
             122896: 1,
             52343: 15,
             8427: 3,
             87635: 1,
             9311: 1,
             90637: 16,
             52717: 9,
             44435: 1,
             68981: 10,
             120008: 1,
             9092: 1,
             108549: 10,
             111276: 1,
             208: 1,
             14405: 1,
             52014: 3,
             103794: 2,
             8692: 69,
             26436: 1,
             123849: 4,
             53939: 1,
             45040: 1,
             111531: 5,
             53136: 4,
             126731: 11,
             69322: 2,
             8860: 3,
             53762: 5,
             81719: 7,
             26931: 2,
             111522: 28,
             15749: 1,
             52393: 3,
             44636: 3,
             88884: 1,
             110347: 1,
             52847: 19,
             106552: 2,
             52466: 6,
             130813: 1,
             18: 18,
             70228: 4,
             37936: 2,
             111554: 12,
             8556: 3,
             90349: 3,
             52868: 16,
             72855: 4,
             68512: 3,
             8202: 3,
             83126: 1,
             87641: 1,
             111018: 6,
             89270: 2,
             88462: 14,
             108563: 4,
             84190: 1,
             27753: 1,
             110572: 4,
             119953: 1,
             120153: 7,
             115591: 1,
             122596: 4,
             115118: 1,
             108551: 3,
             121513: 2,
             114199: 3,
             123162: 1,
             124113: 37,
             32643: 1,
             5060: 2,
             95592: 5,
             109180: 9,
             52527: 1,
             126909: 3,
             44798: 6,
             51835: 1,
             22252: 3,
             71045: 5,
             69252: 1,
             130694: 2,
             127440: 12,
             53457: 23,
             102714: 1,
             51980: 5,
             6664: 2,
             45240: 1,
             104855: 5,
             52751: 12,
             71134: 1,
             111033: 14,
             28318: 2,
             20700: 10,
             39184: 1,
             26907: 13,
             58609: 1,
             81840: 2,
             111560: 6,
             110224: 2,
             113812: 1,
             46015: 4,
             45287: 1,
             81788: 10,
             8755: 7,
             72995: 1,
             1724: 1,
             123612: 1,
             16030: 2,
             81875: 8,
             52171: 16,
             52802: 38,
             111511: 26,
             111508: 2,
             121696: 1,
             43898: 1,
             110045: 7,
             81818: 7,
             9444: 1,
             8513: 2,
             115376: 1,
             116204: 1,
             31426: 6,
             46013: 7,
             103622: 1,
             65220: 1,
             111341: 3,
             81830: 8,
             45042: 4,
             8316: 11,
             28258: 1,
             47679: 1,
             109221: 6,
             51872: 2,
             52535: 5,
             62806: 1,
             9279: 7,
             71792: 1,
             117919: 1,
             110768: 14,
             10671: 1,
             53856: 2,
             69002: 1,
             111515: 6,
             52033: 23,
             87334: 5,
             51776: 53,
             46288: 5,
             70699: 2,
             7947: 13,
             132045: 1,
             102312: 1,
             9798: 9,
             52350: 8,
             81766: 18,
             1216: 13,
             103820: 3,
             52176: 1,
             122560: 2,
             12800: 1,
             51782: 1,
             81863: 31,
             109107: 5,
             37679: 16,
             115193: 1,
             112800: 28,
             84394: 12,
             121651: 9,
             90467: 3,
             9153: 8,
             129847: 2,
             104379: 1,
             109213: 1,
             132167: 1,
             52380: 10,
             124027: 1,
             68883: 3,
             30273: 1,
             81720: 20,
             52746: 12,
             28007: 1,
             9285: 1,
             81784: 3,
             109317: 2,
             8916: 7,
             51901: 30,
             52051: 1,
             110232: 4,
             81842: 2,
             1555: 9,
             57580: 1,
             108507: 3,
             120525: 1,
             87701: 3,
             67117: 1,
             119328: 1,
             30801: 2,
             28934: 2,
             91483: 4,
             106230: 22,
             81758: 14,
             108992: 2,
             21305: 1,
             51929: 10,
             127117: 3,
             110714: 10,
             52598: 2,
             32964: 1,
             87320: 5,
             9741: 17,
             37973: 3,
             2019: 7,
             46921: 3,
             53042: 7,
             58085: 1,
             107765: 1,
             52223: 17,
             8918: 16,
             81771: 11,
             1229: 8,
             52996: 6,
             116871: 2,
             116252: 17,
             108879: 7,
             108459: 1,
             102622: 1,
             52362: 5,
             91334: 7,
             45883: 1,
             12508: 1,
             68783: 2,
             52430: 27,
             110987: 68,
             88834: 1,
             9513: 1,
             109056: 6,
             111502: 2,
             53135: 14,
             87284: 2,
             8662: 24,
             8757: 13,
             81851: 2,
             51922: 2,
             69227: 1,
             71033: 2,
             125728: 3,
             117725: 1,
             53165: 1,
             31472: 1,
             111412: 4,
             90442: 1,
             52737: 10,
             111022: 4,
             108561: 9,
             70240: 5,
             110406: 8,
             32236: 1,
             22483: 2,
             106203: 1,
             8645: 3,
             53252: 9,
             5525: 1,
             8558: 17,
             126126: 1,
             117623: 1,
             120221: 1,
             117310: 8,
             126761: 1,
             114609: 15,
             56863: 1,
             88853: 7,
             9704: 1,
             22184: 1,
             71316: 3,
             44930: 1,
             113733: 1,
             126258: 1,
             110993: 2,
             91087: 3,
             122965: 1,
             16897: 1,
             70011: 10,
             81721: 3,
             52235: 20,
             110515: 1,
             12745: 17,
             33707: 1,
             93749: 1,
             111297: 16,
             43632: 2,
             52040: 13,
             8089: 12,
             101808: 3,
             8469: 8,
             109039: 2,
             110505: 9,
             108745: 1,
             111444: 1,
             111537: 2,
             52021: 17,
             24: 9,
             12855: 1,
             109744: 2,
             111310: 6,
             123689: 1,
             108775: 4,
             45452: 1,
             9013: 9,
             83395: 1,
             53178: 9,
             115845: 2,
             124791: 10,
             112146: 1,
             124934: 1,
             81770: 10,
             52159: 1,
             8815: 4,
             81904: 1,
             8890: 1,
             89316: 5,
             120949: 2,
             1177: 4,
             114637: 1,
             109981: 1,
             9350: 7,
             81797: 3,
             1953: 2,
             8123: 1,
             8406: 11,
             105091: 1,
             9055: 2,
             121936: 2,
             8906: 4,
             33736: 7,
             110668: 1,
             31907: 1,
             52329: 1,
             52528: 10,
             109361: 1,
             111523: 2,
             51780: 9,
             81855: 32,
             8567: 3,
             130738: 1,
             59730: 2,
             47340: 2,
             10976: 2,
             111601: 10,
             8465: 2,
             111524: 4,
             44526: 1,
             33057: 1,
             41056: 3,
             74968: 14,
             53093: 10,
             68368: 3,
             27434: 1,
             113064: 1,
             69268: 1,
             117752: 1,
             52825: 1,
             17251: 4,
             110962: 3,
             110230: 22,
             52279: 2,
             64103: 1,
             55307: 1,
             114114: 1,
             49441: 1,
             9702: 1,
             91090: 1,
             81845: 11,
             68611: 1,
             109166: 1,
             52719: 28,
             82857: 2,
             119170: 1,
             107799: 1,
             44382: 3,
             84831: 1,
             52875: 2,
             118969: 1,
             91107: 3,
             45917: 1,
             8553: 6,
             125517: 1,
             30119: 1,
             110408: 1,
             119885: 1,
             70584: 4,
             110433: 4,
             106215: 12,
             1191: 17,
             119377: 1,
             9649: 6,
             102953: 1,
             81822: 3,
             19496: 6,
             54634: 6,
             51635: 2,
             123983: 9,
             46850: 1,
             52807: 1,
             46691: 9,
             44467: 1,
             53226: 1,
             123518: 3,
             52914: 1,
             115526: 1,
             108591: 1,
             52560: 1,
             108562: 16,
             84196: 1,
             36220: 1,
             36962: 1,
             9553: 18,
             69348: 1,
             117426: 1,
             75255: 2,
             68439: 4,
             52172: 3,
             57124: 16,
             90488: 1,
             130158: 11,
             68846: 1,
             108768: 1,
             49549: 4,
             81773: 8,
             52872: 4,
             69081: 20,
             68365: 4,
             12864: 8,
             109747: 5,
             16681: 4,
             69161: 1,
             89301: 3,
             32495: 1,
             130276: 1,
             82858: 5,
             124405: 4,
             52005: 5,
             121217: 1,
             114773: 2,
             127568: 3,
             109124: 3,
             118916: 13,
             129719: 18,
             130321: 2,
             81816: 5,
             52169: 3,
             72961: 1,
             5371: 1,
             108874: 3,
             130299: 2,
             13403: 1,
             52531: 4,
             126750: 1,
             87522: 1,
             87348: 1,
             54243: 1,
             77255: 1,
             49545: 2,
             108782: 2,
             108789: 4,
             126819: 1,
             68440: 3,
             52867: 3,
             26138: 9,
             9638: 4,
             124675: 1,
             68437: 4,
             68384: 15,
             8543: 7,
             69267: 2,
             69302: 2,
             6273: 1,
             128116: 24,
             74957: 1,
             5518: 1,
             68835: 5,
             108844: 2,
             26651: 1,
             52389: 1,
             9562: 3,
             26318: 5,
             5288: 4,
             69261: 5,
             51675: 9,
             85094: 3,
             113541: 1,
             105136: 4,
             119232: 1,
             52552: 4,
             68585: 1,
             53213: 3,
             116585: 3,
             78549: 10,
             90322: 3,
             53134: 7,
             110235: 2,
             68380: 5,
             1342: 1,
             8829: 1,
             68631: 4,
             69286: 1,
             127528: 6,
             68545: 4,
             111344: 1,
             127430: 3,
             53549: 3,
             96433: 1,
             16970: 3,
             72837: 1,
             17960: 2,
             69536: 1,
             78714: 1,
             51781: 4,
             53023: 4,
             1536: 3,
             52669: 2,
             4892: 4,
             35604: 2,
             105847: 1,
             119164: 1,
             87536: 8,
             74964: 1,
             77914: 6,
             121388: 1,
             52728: 20,
             130739: 13,
             13119: 1,
             12338: 1,
             52433: 2,
             57553: 1,
             85014: 2,
             68865: 1,
             68873: 3,
             68739: 4,
             69396: 1,
             130543: 8,
             85224: 1,
             1623: 1,
             126102: 1,
             104106: 1,
             118115: 1,
             130306: 6,
             51870: 2,
             123584: 2,
             51822: 9,
             90779: 2,
             119505: 4,
             89761: 1,
             52731: 3,
             96499: 1,
             77618: 1,
             68548: 1,
             114540: 11,
             130207: 1,
             68808: 1,
             30910: 4,
             8411: 3,
             68586: 6,
             1499: 8,
             107954: 2,
             90313: 15,
             106211: 7,
             118911: 2,
             8770: 2,
             52126: 8,
             127123: 2,
             109222: 1,
             82976: 1,
             56225: 4,
             70129: 5,
             26872: 3,
             124641: 1,
             52276: 1,
             123848: 5,
             10941: 2,
             69250: 2,
             81876: 3,
             82572: 1,
             128888: 12,
             126271: 1,
             69401: 2,
             68900: 2,
             108831: 10,
             68887: 13,
             16295: 1,
             118840: 1,
             46989: 1,
             69351: 1,
             51973: 4,
             8018: 1,
             81854: 11,
             68488: 3,
             53584: 12,
             85248: 1,
             129381: 13,
             109233: 1,
             9574: 2,
             9073: 2,
             69326: 1,
             114539: 7,
             68401: 1,
             69430: 4,
             52517: 3,
             5538: 1,
             47298: 8,
             8443: 1,
             116636: 2,
             120457: 1,
             111418: 1,
             52416: 1,
             1073: 5,
             10925: 2,
             8809: 1,
             10588: 2,
             9252: 9,
             1886: 14,
             119364: 12,
             88969: 1,
             16666: 23,
             81796: 13,
             127720: 11,
             26223: 2,
             81772: 8,
             68702: 2,
             5566: 1,
             126823: 9,
             109003: 2,
             14902: 1,
             83735: 2,
             86754: 11,
             68797: 3,
             109201: 2,
             108687: 8,
             108849: 2,
             26642: 2,
             91703: 1,
             121665: 3,
             52141: 3,
             53171: 1,
             43773: 22,
             119373: 2,
             68881: 2,
             78532: 2,
             53202: 6,
             118731: 2,
             68511: 1,
             103425: 2,
             23667: 1,
             16688: 7,
             49551: 2,
             91498: 1,
             108519: 6,
             68641: 2,
             129918: 1,
             57283: 1,
             69301: 4,
             87671: 7,
             87402: 1,
             6560: 1,
             127136: 1,
             127374: 1,
             68422: 1,
             130652: 2,
             109218: 6,
             117400: 4,
             81739: 2,
             68678: 1,
             52146: 8,
             68809: 3,
             120142: 2,
             4656: 6,
             130164: 3,
             81810: 11,
             108602: 2,
             81778: 6,
             51986: 1,
             117758: 1,
             81836: 1,
             91731: 11,
             53579: 1,
             51766: 3,
             130298: 2,
             5463: 1,
             68383: 3,
             116058: 1,
             68555: 4,
             89132: 1,
             96445: 2,
             68663: 2,
             9280: 1,
             88533: 7,
             70251: 2,
             16233: 3,
             108405: 3,
             108801: 1,
             81801: 1,
             115173: 2,
             52188: 1,
             119838: 2,
             129815: 1,
             86284: 1,
             114795: 1,
             108560: 1,
             52511: 2,

In [34]:
#The classic map-reduce option
def cord2city_v2(coord):
    loc=coord["coordinates"]["coordinates"]
    dists=gcdist(dfCities,loc[1],loc[0])
    closest=dists.idxmin()
    if dists[closest]<25:
        return (closest,1)
    else:
        return (None,1)


spark_results=df.rdd.map(cord2city_v2).reduceByKey(lambda a, b: a + b).collect()
spark_results[0:10]

[(111284, 4),
 (52726, 15),
 (53239, 1),
 (81792, 56),
 (91269, 6),
 (91207, 2),
 (52617, 220),
 (113774, 7),
 (45043, 26),
 (8192, 21)]

In [ ]:
sc.stop()

# Bonus/Optional

Improve the `gcdist` function:
* Profile it to find bottlenecks
* Try using numba, TenserFlow, or another library
* Try running it on a GPU rather than CPU

Improve multiprocessing:
* Try with different chunk sizes. Is it better to group on something other than one file/day?
* Run the exercises with the full 2016 dataset in `/data/twitter-geo/` on the server.
* Implement a version with mpi4py

MapReduce:
* Implement your mapper and reducer as standalone files
* Add the code needed to read input from standard input
* Create a bash script that contains all the necessary code to run the MapReduce functions on Hadoop
* Run them with Hadoop on the server.

# Conclusion

## Exercise: Trade-offs

* What are the trade-offs of these different approaches?
* Which were fast to write?
* Which were fast to run?
* Which are most easily read / understood?
* What other factors are important?

Discussion the above points briefly here.
...
...
...
...